﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <style>
    body { font-family: sans-serif; }
    .container { padding: 5em 0; }
    .overlay { position: fixed; width: 100vw; height: 100vh; top: 0; background-color: #0001; display: none; }
    .app-state-editing .overlay-edit { display: block; }
    .app-state-deleting .overlay-delete { display: block; }
    .dialog { margin-top: 10em; background-color: #fff; }
    .container.dialog { padding: 2em; }
    </style>
    <title></title>
</head>
<body>
    <div id="app">
        <div v-bind:class="'app-state-' + state">
            <div class="ui text container">
                <h1 class="ui dividing header">My Contacts</h1>
            </div>
            <div class="ui container">
                <table class="ui table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody v-for="contact in contacts">
                        <tr>
                            <td>
                                <button class="ui icon button" v-on:click="editStart(contact)">
                                    <i class="edit icon"></i>
                                </button>
                                <button class="ui icon button" v-on:click="deleteStart(contact)">
                                    <i class="close icon"></i>
                                </button>
                            </td>
                            <td>{{contact.firstName}}</td>
                            <td>{{contact.lastName}}</td>
                            <td>{{contact.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="overlay overlay-edit">
                <div class="dialog ui text container" v-if="contactToEdit">
                    <h2>Edit Contact</h2>
                    <div class="ui form">
                        <div class="field">
                            <label>First Name</label>
                            <input type="text" v-model="contactToEdit.firstName" />
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input type="text" v-model="contactToEdit.lastName" />
                        </div>
                        <div class="field">
                            <label>Email</label>
                            <input type="text" v-model="contactToEdit.email" />
                        </div>
                        <button class="ui button primary" v-on:click="editSubmit">Submit</button>
                        <button class="ui button" v-on:click="cancel">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="overlay overlay-delete">
                <div class="dialog ui text container" v-if="contactToDelete">
                    <h2>Delete Contact</h2>
                    <div>
                        Are you sure you want to delete {{contactToDelete.firstName}} {{contactToDelete.lastName}}?
                    </div>
                    <button class="ui button red" v-on:click="deleteSubmit">Delete</button>
                    <button class="ui button" v-on:click="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script>
        var data = {
            contacts: [],
            contactToDelete: null,
            contactToEdit: null,
            state: 'default'
        }
        var app = new Vue({
            el: '#app',
            data: data,
            methods: {
                editStart: (contact) => {
                    data.state = 'editing';
                    data.contactToEdit = $.extend({}, contact);
                },
                deleteStart: (contact) => {
                    data.state = 'deleting';
                    data.contactToDelete = $.extend({}, contact);
                },
                deleteSubmit: () => {
                    var id = data.contactToDelete.contactID;
                    console.log(id);
                    $.ajax({
                        url: 'api/contacts/' + id,
                        type: 'DELETE'
                    }).done(loadData);
                    data.contactToDelete = null;
                    data.state = 'default';
                },
                editSubmit: () => {
                    var id = data.contactToEdit.contactID;
                    $.ajax({
                        url: 'api/contacts/' + id,
                        type: 'PUT',
                        data: JSON.stringify(data.contactToEdit),
                        headers: { 'Content-Type': 'application/json' },
                        dataType: 'json'
                    }).done(loadData);
                    data.contactToEdit = null;
                    data.state = 'default';
                },
                cancel: () => {
                    data.contactToDelete = null;
                    data.contactToEdit = null;
                    data.state = 'default';
                }
            }
        });
        var loadData = () => {
            $.ajax('api/contacts').done((result) => {
                data.contacts = result;
            });
        };
        (($) => {
            $(loadData);
        })(jQuery);
    </script>
</body>
</html>
